 .u-section-1 {
  background-image: url("../images/background.png");
  min-height: 100vh;
  background-position: 50% 50%;
}

.u-section-1 .u-image-1 {
  width: 394px;
  height: 595px;
  margin: 103px auto 0;
}

.u-section-1 .u-list-1 {
  width: 176px;
  margin: -490px auto 0 calc(((100% - 1140px) / 2) + 141px);
}

.u-section-1 .u-repeater-1 {
  min-height: 446px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  background-image: linear-gradient(to right, #478ac9, #e68387);
  margin: 27px auto 0;
  padding: 12px 39px 13px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  background-image: linear-gradient(to right, #478ac9, #e68387);
  margin: 27px auto 0;
  padding: 12px 39px 13px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  background-image: linear-gradient(to right, #478ac9, #e68387);
  margin: 27px auto 0;
  padding: 12px 39px 13px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  background-image: linear-gradient(to right, #478ac9, #e68387);
  margin: 27px auto 0;
  padding: 12px 39px 13px;
}

.u-section-1 .u-list-2 {
  width: 176px;
  margin: -446px calc(((100% - 1140px) / 2) + 133px) 0 auto;
}

.u-section-1 .u-repeater-2 {
  min-height: 446px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-btn-5 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: normal;
  background-image: linear-gradient(to right, #478ac9, #e68387);
  text-transform: none;
  margin: 27px auto 0;
  padding: 12px 37px 13px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-btn-6 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: normal;
  background-image: linear-gradient(to right, #478ac9, #e68387);
  text-transform: none;
  margin: 27px auto 0;
  padding: 12px 37px 13px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-btn-7 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: normal;
  background-image: linear-gradient(to right, #478ac9, #e68387);
  text-transform: none;
  margin: 27px auto 0;
  padding: 12px 37px 13px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-btn-8 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: normal;
  background-image: linear-gradient(to right, #478ac9, #e68387);
  text-transform: none;
  margin: 27px auto 0;
  padding: 12px 37px 13px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: normal;
  margin: 59px calc(((100% - 1140px) / 2) + 267px) 0 calc(((100% - 1140px) / 2) + 317px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 594px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -493px;
    margin-left: calc(((100% - 940px) / 2) + 14px);
  }

  .u-section-1 .u-list-2 {
    margin-top: -453px;
    margin-right: calc(((100% - 940px) / 2) + 60px);
  }

  .u-section-1 .u-text-1 {
    width: 556px;
    margin-top: 91px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    margin-left: calc(((100% - 720px) / 2) + 14px);
  }

  .u-section-1 .u-list-2 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: 0 calc(((100% - 720px) / 2) + 64px) 60px calc(((100% - 720px) / 2) + 100px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    margin-left: calc(((100% - 540px) / 2) + 14px);
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 513px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -412px;
    margin-left: calc(((100% - 340px) / 2) + 14px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 839px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 0.875rem;
  font-weight: 700;
  transition-duration: 0.5s;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 17px auto 0 0;
  padding: 8px 35px 9px;
}

.u-section-2 .u-group-1 {
  width: 821px;
  min-height: 560px;
  background-image: none;
  margin: 86px 43px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 0 295px;
}

.u-section-2 .u-text-1 {
  font-family: "Roboto Condensed", sans-serif;
  width: 172px;
  margin: 139px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 9px 0;
}

.u-section-2 .u-image-1 {
  width: 564px;
  height: 564px;
  background-image: url("../images/milo.gif");
  background-position: 50% 50%;
  margin: -560px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-top: -11px;
  }

  .u-section-2 .u-group-1 {
    width: 726px;
    min-height: 544px;
    margin-top: 113px;
    margin-right: 19px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 340px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 69px;
    margin-right: 110px;
    margin-left: 94px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 94px;
    margin-right: 8px;
  }

  .u-section-2 .u-image-1 {
    width: 544px;
    height: 544px;
    margin-top: -544px;
    margin-left: -28px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 40px 40px 130px 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-top: 89px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0 30px 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 14px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 213px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: -111px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-radius: 30px !important;
  border-style: solid !important;
  border-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-btn-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-radius: 30px !important;
  border-style: solid !important;
  border-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-btn-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
} .u-section-3 {
  background-image: linear-gradient(45deg, #425465, #292e33);
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-text-1 {
  width: 740px;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 740px;
  font-size: 1.25rem;
  margin: 32px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 99px 0 47px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 450px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 23px 30px 30px;
}

.u-section-3 .u-group-1 {
  min-height: 170px;
  margin-top: -51px;
  margin-bottom: 0;
  margin-right: 0;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  width: 96px;
  font-size: 1.25rem;
  margin: 24px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 8px 12px 0;
}

.u-section-3 .u-text-5 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 450px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 23px 30px;
}

.u-section-3 .u-group-2 {
  min-height: 171px;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
  margin: -51px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  font-size: 1.25rem;
  width: 181px;
  margin: 32px auto 0;
}

.u-section-3 .u-text-7 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 12px;
}

.u-section-3 .u-text-8 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 54px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 450px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 23px 30px 30px;
}

.u-section-3 .u-group-3 {
  min-height: 171px;
  margin-top: -51px;
  margin-bottom: 0;
  margin-right: 0;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  font-size: 1.25rem;
  width: 217px;
  margin: 24px auto 0;
}

.u-section-3 .u-text-10 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 8px 12px 0;
}

.u-section-3 .u-text-11 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 34px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 371px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-3 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 371px;
  }

  .u-section-3 .u-group-3 {
    margin-right: initial;
  }

  .u-section-3 .u-text-9 {
    width: 210px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 0;
    margin-right: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-6 {
    width: 143px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-3 .u-group-3 {
    margin-top: 0;
    margin-right: initial;
  }

  .u-section-3 .u-text-9 {
    width: 136px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-shape-1 {
  width: 904px;
  height: 452px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-family: "Archivo Black";
  font-size: 3rem;
  margin: -382px 95px 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  width: 846px;
  margin: 83px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  min-height: 346px;
}

.u-section-4 .u-list-item-1 {
  background-image: linear-gradient(white, #e0e5eb);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-group-1 {
  width: 80px;
  min-height: 80px;
  background-image: linear-gradient(#478ac9, #2cccc4);
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 5px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-list-item-2 {
  background-image: linear-gradient(white, #e0e5eb);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-group-2 {
  width: 80px;
  min-height: 80px;
  background-image: linear-gradient(#478ac9, #2cccc4);
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-5 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-list-item-3 {
  background-image: linear-gradient(white, #e0e5eb);
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-group-3 {
  width: 80px;
  min-height: 80px;
  background-image: linear-gradient(#478ac9, #2cccc4);
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-text-8 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-10 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  }

  .u-section-4 .u-text-2 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 2.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-4 .u-shape-1 {
    width: 720px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    margin-bottom: -158px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 883px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-4 .u-shape-1 {
    width: 710px;
    height: 283px;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -213px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -171px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1511px;
  }

  .u-section-4 .u-shape-1 {
    width: 726px;
    margin-left: -193px;
    margin-right: -193px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -252px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 108px;
    margin-bottom: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-8 {
    font-size: 2.25rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 838px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 48px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 11px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 460px;
  grid-gap: 0px 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-5 .u-image-1 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-5 .u-image-2 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 40px;
}

.u-section-5 .u-image-3 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 40px;
}

.u-section-5 .u-image-4 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 40px;
}

.u-section-5 .u-image-5 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px 40px;
}

.u-section-5 .u-image-6 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px 40px;
}

.u-section-5 .u-image-7 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px 40px;
}

.u-section-5 .u-image-8 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-9 {
  padding: 30px 40px;
}

.u-section-5 .u-image-9 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-10 {
  padding: 30px 40px;
}

.u-section-5 .u-image-10 {
  height: 90px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-11 {
  padding: 30px 40px;
}

.u-section-5 .u-image-11 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-12 {
  padding: 30px 40px;
}

.u-section-5 .u-image-12 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 379px;
  }

  .u-section-5 .u-image-1 {
    height: 68px;
  }

  .u-section-5 .u-image-2 {
    height: 68px;
  }

  .u-section-5 .u-image-3 {
    height: 68px;
  }

  .u-section-5 .u-image-4 {
    height: 68px;
  }

  .u-section-5 .u-image-5 {
    height: 68px;
  }

  .u-section-5 .u-image-6 {
    height: 68px;
  }

  .u-section-5 .u-image-7 {
    height: 68px;
  }

  .u-section-5 .u-image-8 {
    height: 68px;
  }

  .u-section-5 .u-image-9 {
    height: 68px;
  }

  .u-section-5 .u-image-10 {
    height: 68px;
  }

  .u-section-5 .u-image-11 {
    height: 68px;
  }

  .u-section-5 .u-image-12 {
    height: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1471px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 70px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 214px;
    margin-bottom: 40px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 1051px;
  }

  .u-section-5 .u-image-1 {
    height: 94px;
    margin-top: 0;
  }

  .u-section-5 .u-image-2 {
    height: 94px;
    margin-top: 0;
  }

  .u-section-5 .u-image-3 {
    height: 94px;
    margin-top: 0;
  }

  .u-section-5 .u-image-4 {
    height: 94px;
    margin-top: 0;
  }

  .u-section-5 .u-image-5 {
    height: 94px;
    margin-top: 0;
  }

  .u-section-5 .u-image-6 {
    height: 94px;
  }

  .u-section-5 .u-image-7 {
    height: 94px;
    margin-top: 0;
  }

  .u-section-5 .u-image-8 {
    height: 94px;
    margin-top: 0;
  }

  .u-section-5 .u-image-9 {
    height: 94px;
    margin-top: 0;
  }

  .u-section-5 .u-image-10 {
    height: 94px;
    margin-top: 0;
  }

  .u-section-5 .u-image-11 {
    height: 94px;
  }

  .u-section-5 .u-image-12 {
    height: 94px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1413px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 48px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 246px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 895px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 109px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 109px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 109px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-4 {
    height: 109px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-5 {
    height: 109px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-6 {
    height: 109px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-7 {
    height: 109px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-8 {
    height: 109px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-9 {
    height: 109px;
  }

  .u-section-5 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-10 {
    height: 109px;
  }

  .u-section-5 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-11 {
    height: 109px;
  }

  .u-section-5 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-12 {
    height: 109px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1303px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-5 .u-list-1 {
    margin-top: 328px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 777px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 80px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 80px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 80px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    height: 80px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-5 {
    height: 80px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-6 {
    height: 80px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-7 {
    height: 80px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-8 {
    height: 80px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-9 {
    height: 80px;
  }

  .u-section-5 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-10 {
    height: 80px;
  }

  .u-section-5 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-11 {
    height: 80px;
  }

  .u-section-5 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-12 {
    height: 80px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  width: 864px;
  margin: 20px auto 0;
}

.u-section-6 .u-accordion-1 {
  width: 894px;
  margin: 30px auto 0;
}

.u-section-6 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-6 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 154px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-6 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-6 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-6 .u-accordion-pane-2 {
  min-height: 154px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-6 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-6 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-6 .u-accordion-pane-3 {
  min-height: 154px;
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-6 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-6 .u-icon-4 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-6 .u-accordion-pane-4 {
  min-height: 154px;
  background-image: none;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-6 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  margin-bottom: 0;
  padding: 25px 30px;
}

.u-section-6 .u-icon-5 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-6 .u-accordion-pane-5 {
  min-height: 154px;
  background-image: none;
}

.u-section-6 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-6 .u-text-7 {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-6 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-6 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-6 .u-accordion-pane-4 {
    height: auto;
  }

  .u-section-6 .u-accordion-pane-5 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    width: 720px;
  }

  .u-section-6 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-accordion-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-accordion-1 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 109px auto 0;
}

.u-section-7 .u-form-1 {
  height: 352px;
  width: 591px;
  margin: 135px auto 60px;
}

.u-section-7 .u-input-1 {
  text-transform: uppercase;
}

.u-section-7 .u-input-2 {
  text-transform: uppercase;
}

.u-section-7 .u-input-3 {
  text-transform: uppercase;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-form-1 {
    width: 570px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-form-1 {
    width: 340px;
  }
}